:root {
  --color-dark-green: #1f271b;
  --color-brown: #784f41;
  --color-dark-brown: #2f2826;
  --color-light-brown: #c7a27c;
  --color-mint-cream: #d7fdf0;
  --color-dark-teal: #297373;
  --color-yellow: #ffcc00;
}

/* minha paleta: https://coolors.co/visualizer/1f271b-784f41-c7a27c-d7fdf0-297373  */
