/* @import './colors.css'; */
@import './Typography.css';

body, * {
  font-family: "Effra", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

.app {
  padding: 2rem;
  /* background-color: #000; */
  color: #000;
  text-align: center;
  min-height: 100vh; /* Garantir que a altura da página ocupe toda a tela */
  display: flex;
  flex-direction: column;
}

/* Ajustes para o título */
h1 {
  margin-bottom: 2rem;
  font-size: 3rem;
  font-weight: bold;
}

/* Configuração do grid para o layout masonry com 3 colunas */
.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(250px, auto)); /* Definir largura mínima para cada coluna */
  grid-auto-rows: 300px; /* Definir altura fixa de 300px para todos os cards */
  gap: 1rem;
  padding: 0;
  max-width: 1200px;
  margin: 0 auto;
}

/* Ajustes para garantir que os cards se ajustem corretamente */
.grid .card {
  display: flex;
  flex-direction: column;
  width: auto; /* Largura dinâmica baseada no conteúdo */
  height: 300px; /* Limitar a altura a 300px */
  overflow: hidden;
}

.card img {
  width: 100%;
  height: 100%; /* A imagem ocupará toda a altura disponível do card */
  object-fit: contain; /* A imagem será ajustada para caber no card sem ser cortada */
}

.card h3 {
  margin: 1rem;
  font-size: 1.1rem;
  font-weight: bold;
  color: #000;
  text-align: center;
}

/* Garantir que o fundo ocupe toda a altura da página */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Ajuste para telas menores */
    grid-auto-rows: auto; /* Ajusta a altura automaticamente */
  }
}
