@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Effra";
  src: url("/fonts/Effra/Effra-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Effra";
  src: url("/fonts/Effra/Effra-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Effra";
  src: url("/fonts/Effra/Effra-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Effra";
  src: url("/fonts/Effra/Effra-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Effra";
  src: url("/fonts/Effra/Effra-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Effra";
  src: url("/fonts/Effra/Effra-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Effra";
  src: url("/fonts/Effra/Effra-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Effra";
  src: url("/fonts/Effra/Effra-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Effra";
  src: url("/fonts/Effra/Effra-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Effra";
  src: url("/fonts/Effra/Effra-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "EBGaramond";
  src: url("/fonts/Garamond/EBGaramond-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "EBGaramond";
  src: url("/fonts/Garamond/EBGaramond-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "EBGaramond";
  src: url("/fonts/Garamond/EBGaramond-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "EBGaramond";
  src: url("/fonts/Garamond/EBGaramond-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "EBGaramond";
  src: url("/fonts/Garamond/EBGaramond-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "EBGaramond";
  src: url("/fonts/Garamond/EBGaramond-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "EBGaramond";
  src: url("/fonts/Garamond/EBGaramond-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "EBGaramond";
  src: url("/fonts/Garamond/EBGaramond-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "EBGaramond";
  src: url("/fonts/Garamond/EBGaramond-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "EBGaramond";
  src: url("/fonts/Garamond/EBGaramond-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

:root {
  --background-color: #fcf9e9;
  --text-color: #222222;
  --secondary-bg-color: #f8f8f8;
  --accent-color: #a58067;
  --border-color: #a58067;
  --hover-color: #f0f0f0;
  --button-text-color: #784f41;
  --status-bar-light: #ffffff;
  --status-bar-dark: #1a1a1a;

  --mobile-color: #572d2c;
  --web-color: #526d37; 
  --design-color: #c17f54; 
  --teal-color: #297373;

  --first-color: #cad6ae;
  --second-color: #e2efcc;
  --third-color: #ffdcaa;
  --fourth-color: #ffb89a;
}

body.dark-mode {
  --background-color: #222220;
  --text-color: #f0f0f0;
  --secondary-bg-color: #202020;
  --accent-color: #a58067;
  --border-color: #ddd;
  --hover-color: #a58067;
  --button-text-color: #f0f0f0;
  -webkit-status-bar-style: black;
}

h1, h2, h3 {
  font-family: "EBGaramond", serif !important;
  font-weight: 500;
  font-style: italic;
}

h1:hover {
  text-shadow: 3px 3px 0 var(--accent-color);
}

h2:hover {
  text-shadow: 2px 2px 0 var(--teal-color);
}

body {
  font-family: "Effra", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

slick-dots li button:before {
  font-size: 16px !important;
}

.slick-dots li.slick-active button:before {
  color: var(--accent-color) !important;
}

@theme {
  --shadow-3xl: -2px 0 5px rgba(0, 0, 0, 0.3) !important;
}
