/* @import './colors.css'; */
@import './styles/Typography.css';

body,
* {
  font-family: "Effra", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  transition: background-color 0.3s ease, color 0.3s ease;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Modo escuro para o corpo */
body.dark-mode {
  background-color: #121212;
  color: #f0f0f0;
}

.app {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  color: #000;
  text-align: center;
  min-height: 85vh;
  display: flex;
  flex-direction: column;
}

/* Modo escuro para o app */
body.dark-mode .app {
  color: #f0f0f0;
}

h1 {
  text-align: center;
  margin-top: 2rem;
  font-size: 3rem;
  font-weight: bold;
}

/* Dark mode para links e outros elementos interativos */
body.dark-mode a {
  color: #4d9dff;
}

body.dark-mode button {
  color: #f0f0f0;
}